.input {
  width: 100%;
  padding: 16px 32px;
  border-radius: var(--smallRadius);
  border: 1px solid var(--white);
  font-size: var(--smallSize);
  color: var(--white);
  background-color: transparent;
}

.input::placeholder {
  color: var(--white);
}

.orderInput {
  width: 100%;
  padding: 16px 32px;
  border-radius: var(--smallRadius);
  border: 1px solid var(--greyDivider);
  font-size: var(--smallSize);
  line-height: 130%;
  font-weight: 500;
  outline: none;
}

.orderInput::placeholder {
  opacity: 1;
}

.orderInput:last-of-type {
  margin-bottom: 20px;
}

.orderFormError {
  color: var(--errorColor);
  opacity: 0.7;
}

.discontFormError {
  color: var(--white);
  opacity: 0.5;
}