.header {
    display: flex;
    justify-content: space-between;
    padding: 0 clamp(1rem, 7vw, 40px);
    height: 12vh;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 99999;
    position: relative;
    border: 1px solid var(--greyDivider);
    max-width: 1440px;
    
}

.logo {
    display: block;
}

@media (max-width:1090px) {
    .header {
        padding: 0px 20px;
    }
}

@media (max-width: 872px) {
    .header {
        height: 12vh;
    }
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
}