.priceBox {
    display: flex;
    align-items: baseline;
    gap: var(--fontSize);
}

.priceCurrent {
    font-size: 40px;
    line-height: 110%;
    font-weight: 600;
    color: var(--blackColor);
}

.priceOld {
    font-size: 20px;
    font-weight: 500;
    color: var(--lightGreyColor);
}